# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Environment variables
.env

# Flask
instance/

# Database / local files
*.db

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
